In [31]:
from datetime import datetime, timedelta
import src.sql.queries as sql
import mysql.connector
from dotenv import load_dotenv
import os

load_dotenv()

#Identifica o ciclo da remessa de acordo com a data que o executavel for acionado
def identificarCiclo():
    hoje = datetime.today()
    ano_atual = datetime.now().year
    mes_atual = datetime.now().month
    data_fim_ciclo1 = datetime(ano_atual,mes_atual,6)
    data_fim_ciclo2= datetime(ano_atual,mes_atual,21)
    if data_fim_ciclo1 <= hoje <= (data_fim_ciclo1 + timedelta(days=5)):
        ciclo = 1
    elif data_fim_ciclo2 <= hoje <= (data_fim_ciclo2 + timedelta(days=5)):
        ciclo = 2
    else:
        ciclo = int(input("Ciclo nao identificado, qual ciclo deseja processar: "))
    return ciclo


def conexao_banco_op():
    config = {
        'host':os.getenv('HOST_OP'),
        'user':os.getenv('USER_OP'),
        'password':os.getenv('PASS_OP'),
        'database':os.getenv('DB_OP')   
    }
    
    conexao = mysql.connector.connect(**config)
    return conexao


def conexao_banco_rbm():
    config = {
        'host':os.getenv('HOST_RBM'),
        'user':os.getenv('USER_RBM'),
        'password':os.getenv('PASS_RBM'),
        'database':os.getenv('DB_RBM')   
    }

    conexao = mysql.connector.connect(**config)
    return conexao



def consulta_titularidade_ciclo2():
    #1° conexao
    conexao_op = conexao_banco_op()
    cursor_op = conexao_op.cursor()
    cursor_op.execute(sql.consulta_titularidade)
    uc = cursor_op.fetchall()
    print(uc)

    #Formatando para lista
    uc_valores = [str(item[0]) for item in uc]
    print(uc_valores)
    # Criando os placeholders dinamicamente
    placeholders = ', '.join(['%s'] * len(uc_valores)) # Exemplo: "%s, %s, %s"
    # Substituindo no SQL
    query = sql.consulta_op.replace("IN (%s)", f"IN ({placeholders})")

    print("Query Final:", query)
    print("Número de valores:", len(uc_valores))
    print("Valores:", uc_valores)
    print(query)


    #2° conexao
    conexao_rbm = conexao_banco_rbm()
    cursor_rbm = conexao_rbm.cursor()
    cursor_rbm.execute(sql.consulta_op, (uc_valores,))
    op = cursor_rbm.fetchall()
    print(op)

In [32]:
consulta_titularidade_ciclo2()

[('29873894',), ('2969998',), ('16118553',), ('12435341',), ('45484856',), ('14827824',), ('16734831',), ('9375554',), ('8376204',), ('42067243',), ('8002614',), ('35746122',), ('7200323',), ('42331048',), ('14749629',), ('43239129',), ('2091941',), ('39671399',), ('44894112',), ('1963074',), ('16651642',), ('31515649',), ('40964540',), ('7176511',), ('15246396',), ('38885816',), ('14519232',), ('13544705',), ('41994612',), ('40702200',), ('3651347',), ('2024616',), ('8219745',), ('39043681',), ('33583200',), ('13442007',), ('34477950',), ('40929019',), ('36999067',), ('3362612',), ('10805583',), ('3267610',), ('29196299',), ('2150239',), ('28859847',), ('37435574',), ('4962893',), ('12061930',), ('37614860',), ('14402750',), ('16303938',), ('32990278',), ('5650470',), ('33119686',), ('40462331',), ('15405664',), ('32055498',), ('18276300',), ('37787918',), ('35571098',), ('583499',), ('40858499',), ('44350660',), ('14258048',), ('39864472',), ('8453390',), ('8836329',), ('38862018',), ('11136146',), ('8364788',), ('37355392',), ('11479051',), ('17564107',), ('39861767',), ('14153424',), ('46746056',), ('8826528',), ('17163056',), ('33820961',), ('3407438',), ('45366683',), ('31517609',), ('45994056',), ('11956119',), ('46549145',), ('5337810',), ('27626687',), ('11540389',), ('2437953',), ('38224879',), ('39417204',), ('6096336',), ('7741944',), ('6675972',), ('3048942',), ('13548387',), ('33460132',), ('13286544',), ('13290665',), ('17335140',), ('41589351',), ('15851591',), ('13515322',), ('36464392',), ('11062169',), ('38662469',), ('9485295',), ('1632876',), ('30770734',), ('15608719',), ('6322140',), ('32828233',), ('44022697',), ('3819531',), ('16344065',), ('4403355',), ('31984185',), ('3267385',), ('37866710',), ('37064827',), ('42869927',), ('30342368',), ('10354654',), ('40774210',), ('39290395',), ('38659824',), ('41570910',), ('4401301',), ('15634795',), ('14503123',), ('5149886',), ('30073677',), ('4958039',), ('4565614',), ('32502214',), ('37726943',), ('14275856',), ('4356144',), ('44529104',), ('16027744',), ('39882802',), ('28080939',), ('31317588',), ('28473361',), ('15759415',), ('8264546',), ('38356970',), ('31025803',), ('42279976',), ('7842023',), ('37989286',), ('35089547',), ('42141206',), ('40484017',), ('14698056',), ('7469365',), ('38059339',), ('40575845',), ('15187209',), ('31225420',), ('40256596',), ('11100230',), ('350532',), ('16297067',), ('4776577',), ('39537250',), ('15452620',), ('36267660',), ('16100689',), ('13106465',), ('14183293',), ('3111393',), ('8243034',), ('6710794',), ('31049443',), ('10792422',), ('12725447',), ('3383920',), ('39500047',), ('33543283',), ('40805018',), ('9474358',), ('15031802',), ('36284661',), ('16233476',), ('11177594',), ('37039482',), ('33620628',), ('2812720',), ('32011539',), ('6152023',), ('6254322',), ('12349941',), ('3185290',), ('42177944',), ('31176364',), ('28568230',), ('13205811',), ('18263216',), ('33274630',), ('15393925',), ('6094481',), ('779091',), ('16440404',), ('40447596',), ('33621632',), ('43790720',), ('46303111',), ('4191994',), ('45084823',), ('4372573',), ('46229264',), ('42318661',), ('38910144',), ('36868353',), ('42554551',), ('4700694',), ('32597134',), ('40955265',), ('43626866',), ('12080667',), ('38054140',), ('34367837',), ('42606250',), ('9061770',), ('42291755',), ('2953242',), ('37161334',), ('39296237',), ('14308533',), ('3006441',), ('126527',), ('40003671',), ('40472213',), ('10548939',), ('40205290',), ('9085602',), ('33520119',), ('4271130',), ('44729405',), ('28534310',), ('7762984',), ('39317188',), ('7059108',), ('37855506',), ('15297640',), ('42511410',), ('42346460',), ('2202468',), ('16411870',), ('1737163',), ('39226565',), ('41555511',), ('570230',), ('42660483',), ('777048',), ('38997037',), ('42075599',), ('40465560',), ('39967964',), ('45660158',), ('45536422',), ('35035587',), ('37107615',), ('9220003',), ('1330373',), ('36805505',), ('4427033',), ('10464077',), ('5187567',), ('34430130',), ('10819380',), ('40001806',), ('16453018',), ('41456505',), ('34651730',), ('33455007',), ('46533915',), ('14479826',), ('17691761',), ('40058646',), ('41663942',), ('41858107',), ('2871009',), ('16606205',), ('28073215',), ('9859284',), ('7275897',), ('39828212',), ('10200770',), ('42644089',), ('45595860',), ('6205852',), ('1126989',), ('1410415',), ('16650794',), ('3212998',), ('39168735',), ('40620212',), ('43963013',), ('90530',), ('7900678',), ('28478762',), ('45447535',), ('8984450',), ('12037079',), ('40634507',), ('4576535',), ('2183722',), ('1373420',), ('34072608',), ('42228298',), ('12031941',), ('12744077',), ('34769196',), ('8100110',), ('44887078',), ('3654508',), ('6677851',), ('2948435',), ('43949894',), ('27564592',), ('7916426',), ('29416680',), ('36309885',), ('43672515',), ('38834278',), ('34630368',), ('4744411',), ('10366768',), ('7519346',), ('13106490',), ('832880',), ('16572467',), ('36314200',), ('30029996',), ('252212',), ('46798862',), ('34784560',), ('16590015',)]
['29873894', '2969998', '16118553', '12435341', '45484856', '14827824', '16734831', '9375554', '8376204', '42067243', '8002614', '35746122', '7200323', '42331048', '14749629', '43239129', '2091941', '39671399', '44894112', '1963074', '16651642', '31515649', '40964540', '7176511', '15246396', '38885816', '14519232', '13544705', '41994612', '40702200', '3651347', '2024616', '8219745', '39043681', '33583200', '13442007', '34477950', '40929019', '36999067', '3362612', '10805583', '3267610', '29196299', '2150239', '28859847', '37435574', '4962893', '12061930', '37614860', '14402750', '16303938', '32990278', '5650470', '33119686', '40462331', '15405664', '32055498', '18276300', '37787918', '35571098', '583499', '40858499', '44350660', '14258048', '39864472', '8453390', '8836329', '38862018', '11136146', '8364788', '37355392', '11479051', '17564107', '39861767', '14153424', '46746056', '8826528', '17163056', '33820961', '3407438', '45366683', '31517609', '45994056', '11956119', '46549145', '5337810', '27626687', '11540389', '2437953', '38224879', '39417204', '6096336', '7741944', '6675972', '3048942', '13548387', '33460132', '13286544', '13290665', '17335140', '41589351', '15851591', '13515322', '36464392', '11062169', '38662469', '9485295', '1632876', '30770734', '15608719', '6322140', '32828233', '44022697', '3819531', '16344065', '4403355', '31984185', '3267385', '37866710', '37064827', '42869927', '30342368', '10354654', '40774210', '39290395', '38659824', '41570910', '4401301', '15634795', '14503123', '5149886', '30073677', '4958039', '4565614', '32502214', '37726943', '14275856', '4356144', '44529104', '16027744', '39882802', '28080939', '31317588', '28473361', '15759415', '8264546', '38356970', '31025803', '42279976', '7842023', '37989286', '35089547', '42141206', '40484017', '14698056', '7469365', '38059339', '40575845', '15187209', '31225420', '40256596', '11100230', '350532', '16297067', '4776577', '39537250', '15452620', '36267660', '16100689', '13106465', '14183293', '3111393', '8243034', '6710794', '31049443', '10792422', '12725447', '3383920', '39500047', '33543283', '40805018', '9474358', '15031802', '36284661', '16233476', '11177594', '37039482', '33620628', '2812720', '32011539', '6152023', '6254322', '12349941', '3185290', '42177944', '31176364', '28568230', '13205811', '18263216', '33274630', '15393925', '6094481', '779091', '16440404', '40447596', '33621632', '43790720', '46303111', '4191994', '45084823', '4372573', '46229264', '42318661', '38910144', '36868353', '42554551', '4700694', '32597134', '40955265', '43626866', '12080667', '38054140', '34367837', '42606250', '9061770', '42291755', '2953242', '37161334', '39296237', '14308533', '3006441', '126527', '40003671', '40472213', '10548939', '40205290', '9085602', '33520119', '4271130', '44729405', '28534310', '7762984', '39317188', '7059108', '37855506', '15297640', '42511410', '42346460', '2202468', '16411870', '1737163', '39226565', '41555511', '570230', '42660483', '777048', '38997037', '42075599', '40465560', '39967964', '45660158', '45536422', '35035587', '37107615', '9220003', '1330373', '36805505', '4427033', '10464077', '5187567', '34430130', '10819380', '40001806', '16453018', '41456505', '34651730', '33455007', '46533915', '14479826', '17691761', '40058646', '41663942', '41858107', '2871009', '16606205', '28073215', '9859284', '7275897', '39828212', '10200770', '42644089', '45595860', '6205852', '1126989', '1410415', '16650794', '3212998', '39168735', '40620212', '43963013', '90530', '7900678', '28478762', '45447535', '8984450', '12037079', '40634507', '4576535', '2183722', '1373420', '34072608', '42228298', '12031941', '12744077', '34769196', '8100110', '44887078', '3654508', '6677851', '2948435', '43949894', '27564592', '7916426', '29416680', '36309885', '43672515', '38834278', '34630368', '4744411', '10366768', '7519346', '13106490', '832880', '16572467', '36314200', '30029996', '252212', '46798862', '34784560', '16590015']
Query Final:
SELECT
    CAST(TRIM(op.UNI_CONSUMIDORA_COB) AS UNSIGNED) AS 'Unidade Consumidora',
    CAST(TRIM(op.CODOPERACAO) AS UNSIGNED) AS 'Operacao',
    op.CIA_ELETRICA AS 'Cia',
    "75" AS "Motivo"
FROM
    operacao op
    LEFT JOIN unidadeconsumidorabloqueada ucb ON op.CODOPERACAO = ucb.CODOPERACAO
    INNER JOIN cronograma cr ON cr.CODOPERACAO = op.CODOPERACAO AND cr.LIQUIDA IS NULL
WHERE
    1=1
    AND op.CIA_ELETRICA = 34
    AND (ucb.BLOQUEADO = "N" OR ucb.BLOQUEADO IS NULL)
    AND op.CODSTATUS = 7
    AND op.UNI_CONSUMIDORA_COB IN
		(
        %s
		)
GROUP BY
    op.CODOPERACAO
ORDER BY
    op.UNI_CONSUMIDORA_COB;
Número de valores: 340
Valores: ['29873894', '2969998', '16118553', '12435341', '45484856', '14827824', '16734831', '9375554', '8376204', '42067243', '8002614', '35746122', '7200323', '42331048', '14749629', '43239129', '2091941', '39671399', '44894112', '1963074', '16651642', '31515649', '40964540', '7176511', '15246396', '38885816', '14519232', '13544705', '41994612', '40702200', '3651347', '2024616', '8219745', '39043681', '33583200', '13442007', '34477950', '40929019', '36999067', '3362612', '10805583', '3267610', '29196299', '2150239', '28859847', '37435574', '4962893', '12061930', '37614860', '14402750', '16303938', '32990278', '5650470', '33119686', '40462331', '15405664', '32055498', '18276300', '37787918', '35571098', '583499', '40858499', '44350660', '14258048', '39864472', '8453390', '8836329', '38862018', '11136146', '8364788', '37355392', '11479051', '17564107', '39861767', '14153424', '46746056', '8826528', '17163056', '33820961', '3407438', '45366683', '31517609', '45994056', '11956119', '46549145', '5337810', '27626687', '11540389', '2437953', '38224879', '39417204', '6096336', '7741944', '6675972', '3048942', '13548387', '33460132', '13286544', '13290665', '17335140', '41589351', '15851591', '13515322', '36464392', '11062169', '38662469', '9485295', '1632876', '30770734', '15608719', '6322140', '32828233', '44022697', '3819531', '16344065', '4403355', '31984185', '3267385', '37866710', '37064827', '42869927', '30342368', '10354654', '40774210', '39290395', '38659824', '41570910', '4401301', '15634795', '14503123', '5149886', '30073677', '4958039', '4565614', '32502214', '37726943', '14275856', '4356144', '44529104', '16027744', '39882802', '28080939', '31317588', '28473361', '15759415', '8264546', '38356970', '31025803', '42279976', '7842023', '37989286', '35089547', '42141206', '40484017', '14698056', '7469365', '38059339', '40575845', '15187209', '31225420', '40256596', '11100230', '350532', '16297067', '4776577', '39537250', '15452620', '36267660', '16100689', '13106465', '14183293', '3111393', '8243034', '6710794', '31049443', '10792422', '12725447', '3383920', '39500047', '33543283', '40805018', '9474358', '15031802', '36284661', '16233476', '11177594', '37039482', '33620628', '2812720', '32011539', '6152023', '6254322', '12349941', '3185290', '42177944', '31176364', '28568230', '13205811', '18263216', '33274630', '15393925', '6094481', '779091', '16440404', '40447596', '33621632', '43790720', '46303111', '4191994', '45084823', '4372573', '46229264', '42318661', '38910144', '36868353', '42554551', '4700694', '32597134', '40955265', '43626866', '12080667', '38054140', '34367837', '42606250', '9061770', '42291755', '2953242', '37161334', '39296237', '14308533', '3006441', '126527', '40003671', '40472213', '10548939', '40205290', '9085602', '33520119', '4271130', '44729405', '28534310', '7762984', '39317188', '7059108', '37855506', '15297640', '42511410', '42346460', '2202468', '16411870', '1737163', '39226565', '41555511', '570230', '42660483', '777048', '38997037', '42075599', '40465560', '39967964', '45660158', '45536422', '35035587', '37107615', '9220003', '1330373', '36805505', '4427033', '10464077', '5187567', '34430130', '10819380', '40001806', '16453018', '41456505', '34651730', '33455007', '46533915', '14479826', '17691761', '40058646', '41663942', '41858107', '2871009', '16606205', '28073215', '9859284', '7275897', '39828212', '10200770', '42644089', '45595860', '6205852', '1126989', '1410415', '16650794', '3212998', '39168735', '40620212', '43963013', '90530', '7900678', '28478762', '45447535', '8984450', '12037079', '40634507', '4576535', '2183722', '1373420', '34072608', '42228298', '12031941', '12744077', '34769196', '8100110', '44887078', '3654508', '6677851', '2948435', '43949894', '27564592', '7916426', '29416680', '36309885', '43672515', '38834278', '34630368', '4744411', '10366768', '7519346', '13106490', '832880', '16572467', '36314200', '30029996', '252212', '46798862', '34784560', '16590015']

SELECT
    CAST(TRIM(op.UNI_CONSUMIDORA_COB) AS UNSIGNED) AS 'Unidade Consumidora',
    CAST(TRIM(op.CODOPERACAO) AS UNSIGNED) AS 'Operacao',
    op.CIA_ELETRICA AS 'Cia',
    "75" AS "Motivo"
FROM
    operacao op
    LEFT JOIN unidadeconsumidorabloqueada ucb ON op.CODOPERACAO = ucb.CODOPERACAO
    INNER JOIN cronograma cr ON cr.CODOPERACAO = op.CODOPERACAO AND cr.LIQUIDA IS NULL
WHERE
    1=1
    AND op.CIA_ELETRICA = 34
    AND (ucb.BLOQUEADO = "N" OR ucb.BLOQUEADO IS NULL)
    AND op.CODSTATUS = 7
    AND op.UNI_CONSUMIDORA_COB IN
		(
        %s
		)
GROUP BY
    op.CODOPERACAO
ORDER BY
    op.UNI_CONSUMIDORA_COB;

DatabaseError: 2003 (HY000): Can't connect to MySQL server on '54.232.150.39:3306' (10060)